body {
	background: url(sean-lim-NPlv2pkYoUA-unsplash.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6c757d;
	border-radius: 10px;
}
